/*颜色
primary   -> 主色
info      -> 浅蓝
danger    -> 橙色
light     -> 白色

*/ 

//CSS color="primary" 
$colors: (
   primary:      #ffa426, 
  danger:         #e94f4f,
  light:          #fff,
  gray:          #bbb,
  transparent:    transparent,
);


//CSS 文字颜色

@each $key, $value in $colors {
    #{".text-"+$key} {
        color:$value!important;
    }
}

//CSS 背景颜色

@each $key, $value in $colors {
    #{"["+$key+"]"} {
        background-color:$value!important;
    }
    #{".bg-"+$key} {
        background-color:$value!important;
    }
    #{".bg-"+$key+".outline"} {
        background-color:transparent!important;
        border:1px solid $value!important;
    }
}